#hero {
  padding: 65px 165px 79px 165px;
  background: #353a40;
  position: relative;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .main-texts {
      span {
        color: #f5c473;
        font-size: 16px;
        line-height: 22px;
        font-weight: 800;
      }

      h1 {
        margin: 8px 0 16px 0;
        color: #ffffff;
        font-size: 32px;
        line-height: 44px;
        font-weight: 800;
      }

      p {
        color: #ffffff;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        opacity: 50%;
        width: 75%;
      }

      .btn {
        margin-top: 40px;
        padding: 12px 40px;
        color: #ffffff;
        background: #3772e1;
        box-shadow: 0px 2px 0px 0px #2c5bb4;
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        transition: all 0.5s ease;
      }

      .btn:hover {
        color: #3772e1;
        background: #ffffff;
        box-shadow: 0px 2px 0px 0px #e4e6e9;
      }
    }
  }

  .figure {
    position: absolute;
    top: 475px;
    right: 0;
    width: 70%;
  }

  .blue-figure {
    position: absolute;
    top: 446px;
    left: 0;
    width: 30%;
  }
}

@media only screen and (max-width: 640px) {
  #hero {
    padding: 30px 20px;
    position: relative;

    .wrapper {
      flex-direction: column;
      gap: 35px;

      .main-texts {
        span {
          font-size: 12px;
          line-height: 17px;
        }

        h1 {
          margin: 4px 0 8px 0;
          font-size: 24px;
          line-height: 33px;
        }

        .btn {
          margin-top: 24px;
          width: 100%;
        }
      }

      .hero-img {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 360px) {
  #hero {
    padding: 30px 20px;

    .wrapper {
      flex-direction: column;
      gap: 35px;

      .main-texts {
        span {
          font-size: 12px;
          line-height: 17px;
        }

        h1 {
          margin: 4px 0 8px 0;
          font-size: 24px;
          line-height: 33px;
        }

        .btn {
          margin-top: 24px;
          width: 100%;
        }
      }

      .hero-img {
        width: 100%;
      }
    }

    .figure {
      top: 523px !important;
      right: 0;
      width: 70%;
    }

    .blue-figure {
      position: absolute;
      top: 512px !important;
      left: 0;
      width: 30%;
    }
  }
}
